th{
    font-size: 25px;
}

td, p{
    font-size: 18px;
    padding: 5px 10px;
}

.conteiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

form{
    font-size: 18px;
    width: 600px;
}
